* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* max-width: 1400px; */
  margin: 0 auto;
}

img {
  display: block;
}

.top-section {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  border-bottom: 3px solid black;
}

.main-txt {
  font-size: 30px;
  font-weight: 600;
}

.icons {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.icon {
  max-width: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Create Character */

.create-character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.create-character-title {
  font-size: 50px;
  margin-bottom: 3vh;
}

.create-character-subtitle {
  font-size: 30px;
  margin-bottom: 1vh;
}
#name {
  max-width: 270px;
  width: 100%;
  margin-bottom: 4vh;
  font-size: 30px;
  border: 3px solid blue;
  border-radius: 5px;
}

.btn-create-character {
  display: block;
  padding: 10px 20px;
  font-size: 26px;
  background-color: rgb(82, 82, 252, 0.3);
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.5s;
}

.btn-create-character:hover {
  background-color: rgb(82, 82, 252, 0.5);
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  display: none;
}

/* .home {
 display: none;
} */

.btn-fight {
  margin-top: 40vh;
  align-self: center;
  display: block;
  max-width: 200px;
  padding: 5px 20px;
  font-size: 26px;
  background-color: rgb(82, 82, 252, 0.3);
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.5s;
}

.btn-fight:hover,
.btn-edit:hover {
  background-color: rgb(82, 82, 252, 0.5);
}

/* Setting */

.setting {
  display: none;
  margin: 25px 0 0 70px;
}

.text-setting {
  font-size: 24px;
  margin-right: 10px;
}

.btn-edit {
  display: block;
  margin-left: 10px;
  max-width: 100px;
  padding: 0 10px;
  font-size: 24px;
  background-color: rgb(82, 82, 252, 0.3);
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.edit-name-input {
  display: none;
  font-size: 24px;
  width: 100%;
  max-width: 150px;
}

.active {
  display: flex;
}

/* Profile */

.profile {
  display: none;
  margin-top: 25px;
  padding: 0 50px;
}

.current-character {
  position: relative;
  max-width: 25vw;
  width: 100%;
  height: 100%;
  margin: 0 25px 25px 70px;
  box-shadow: 0 0 3px 2px rgb(143 195 217);
  transition: 0.3s;
}

.button-change-character {
  position: absolute;
  display: block;
  opacity: 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: #9ad1ff80;
  background-image: url(./assets/icons8-pencil-30.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.main-character {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 3/4;
}

.overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 175, 175, 0.8);
  transition: 0.3s;
}

.current-character:hover .overlay {
  opacity: 1;
}

.current-character:hover .button-change-character {
  opacity: 1;
}

.text-profile {
  font-size: 28px;
  margin-bottom: 15px;
}

.count-wins {
  font-size: 24px;
  color: green;
}

.count-loses {
  font-size: 24px;
  color: red;
}

/* Change character */
.change-character {
  position: relative;
  display: none;
  gap: 10px;
  margin-top: 5vw;
  margin-left: 10px;
  border: 2px solid rgb(143 195 217);
  padding: 10px 15px;
  z-index: 10;
}

.small-character {
  position: relative;
  width: 100%;
  max-width: 13vw;
}

.small-character img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2/3;
}

.overlay-small {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(121, 213, 255, 0.7);
}

.choose-character {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: #9ad1ff80;
  background-image: url(./assets/icons8-done-50.png);
  background-size: cover;
  cursor: pointer;
}

.small-character:hover .overlay-small {
  display: block;
}

.small-character:hover .choose-character {
  display: block;
}

.overlay-big {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 175, 175, 0.3);
}

/* Fight */

.fight {
  display: none;
  flex-direction: column;
  padding: 20px 70px;
}

.content-fight {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 60px 15px;
}

.name-fight,
.name-opponent {
  font-size: 26px;
  text-align: center;
  margin-bottom: 15px;
}

#my-character-container,
#opponent-container {
  max-width: 22vw;
  width: 100%;
}

#opponent-container img,
#my-character-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 2/3;
}

.health {
  width: 100%;
  height: 20px;
  background-color: blue;
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 0 3px;
  border-radius: 5px;
}

.inner-health-opponent,
.inner-health-player {
  width: 99%;
  height: 16px;
  background-color: deepskyblue;
  border-radius: 5px;
}

.current-health {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}

/* Choose zones */

.center-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-zones-txt {
  font-size: 26px;
  color: deepskyblue;
  margin-bottom: 30px;
  text-align: center;
}

.zones {
  display: flex;
  margin-bottom: 30px;
}

.attack-zones-text,
.defence-zones-text {
  font-size: 24px;
  color: blue;
}

.zones label {
  font-size: 22px;
  color: rgb(81, 81, 255);
}

input[type="checkbox"] {
  accent-color: blue;
  width: 15px;
  height: 15px;
}

.attack-zones,
.defence-zones {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: start;
}

.attack-zones {
  text-align: end;
  align-items: end;
  border-right: 2px solid black;
}

.btn-throw {
  background-color: rgb(82, 82, 252, 0.3);
  max-width: 150px;
  width: 100%;
  padding: 3px 15px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-throw:hover {
  background-color: rgba(0, 127, 211, 0.6);
}

/* Battle result */
.battle-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60vh;
  background-color: blueviolet;
  display: none;
}

.log-result {
  width: 100%;
  height: 200px;
  background-color: #8f8f8f;
  overflow-y: auto;
  padding: 10px 20px;
  font-size: 20px;
}

.attacker,
.defender {
  color: rgb(83, 0, 0);
  font-weight: 600;
}

.damage {
  color: red;
  font-weight: 600;
}

.damage.player {
  color: rgb(0, 126, 57);
}

.attacker.player {
  color: blue;
}

.defender.player {
  color: blue;
}

.target {
  color: rgb(13 39 37);
  font-weight: 600;
}
